<div class="button-group filters-button-group">
  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".metal">metal</button>
  <button class="button" data-filter=".transition">transition</button>
  <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
</div>



<h1>Isotope - sorting</h1>
  <select id="price-sort" class="form-control">
  <option data-sorttype="ass" value="price">High To Low</option>
  <option data-sorttype="dec" value="price">Low To High</option>
  <option value="price">Random</option>
  </select>


<div class="grid">
  <div class="element-item transition metal " data-category="transition">
    <h3 class="color">green</h3>
    <p class="gender">man</p>
    <p class="price">200.59</p>
  </div>
  <div class="element-item metalloid " data-category="metalloid">
    <h3 class="color">blue</h3>
    <p class="gender">women</p>
    <p class="price">50.59</p>
  </div>
  <div class="element-item post-transition metal " data-category="post-transition">
    <h3 class="color">can</h3>
    <p class="gender">women</p>
    <p class="price">15.59</p>
  </div>
  <div class="element-item post-transition metal " data-category="post-transition">
    <h3 class="color">cab</h3>
    <p class="gender">man</p>
    <p class="price">29.59</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <h3 class="color">green</h3>
    <p class="gender">women</p>
    <p class="price">13.59</p>
  </div>
  <div class="element-item alkali metal " data-category="alkali">
      <h3 class="color">red</h3>
    <p class="gender">man</p>
    <p class="price">10.59</p>
  </div>
  
</div>