{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link href="{% static 'css/styles.css'%}" rel="stylesheet">
<div class="row" style="margin-bottom: 50px; margin-top: 50px">
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Регистрация нового пользователя</h3>
    <hr>
    <form action=""{% url 'registration' %}"" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn rounded-pill  btn-primary btn-block"  id="btn1" value="Зарегистрироваться">
    </form>
</div>

</div>
{% endblock %}